In [9]:
# Write a Python program that takes user input for two numbers and performs all arithmetic operations on them
#Display the results with appropriate messages for each operation

In [10]:
num1=int(input("enter the first number:"))
num2=int(input("enter the second number:"))

#summation
sum=num1+num2
print("the sum is:" , sum)

#difference
diff=num1-num2
print("the difference is:", diff)

#product
prod=num1*num2
print("the product is:", prod)

#division
div=num1/num2
print("the division is:", div)

#modulus
mod=num1%num2
print("the modulus is:", mod)

#exponentination
expo=num1**num2
print("the exponent is:", expo)

#floor division
fd=num1//num2
print("the floor division is:", fd)

enter the first number:60
enter the second number:2
the sum is: 62
the difference is: 58
the product is: 120
the division is: 30.0
the modulus is: 0
the exponent is: 3600
the floor division is: 30

In [11]:
# Write a python program to interchange a list items with & without using temporary values

In [12]:
#original list
lst=[10,20,30,40]
print("original list:",lst)

#temporary variable
temp=lst[0]
lst[0]=lst[-1]
lst[-1]=temp
print("after swap (with temporary values):",lst)

#reset list
lst=[20,30,40,50]

#without temporary variable
lst[0],lst[-1]=lst[-1],lst[0]
print("after swap(without temporary values):",lst)

original list: [10, 20, 30, 40]
after swap (with temporary values): [40, 20, 30, 10]
after swap(without temporary values): [50, 30, 40, 20]

In [13]:
# Create a dictionary, do all operations like addition of elements, remove elements, copy item & create nested dictionaries too

In [14]:
#creating a dictionary
student={
    "name" : "tina" ,
    "age" : 17 ,
    "course" : "data science"
}
print(student)

{'name': 'tina', 'age': 17, 'course': 'data science'}

In [15]:
#adding element
student["section"]="B"
student.update({"year": 2})
print(student)

{'name': 'tina', 'age': 17, 'course': 'data science', 'section': 'B', 'year': 2}

In [16]:
#removing element
student.pop("year")
del student ["section"]
print(student)

{'name': 'tina', 'age': 17, 'course': 'data science'}

In [17]:
#copying dictionary
student_info= student.copy()
print(student_info)

{'name': 'tina', 'age': 17, 'course': 'data science'}

In [18]:
#nested dictionary
students = {
    "student1": {"name":"yashi", "age" : 17 , "course" : "data science" } ,
    "student2": {"name":"tanvi", "age": 18, "course" : "animation" } ,
    "student3": {"name" : "lia", "age" : 19, "course" : "data science" }
}
print(students)

{'student1': {'name': 'yashi', 'age': 17, 'course': 'data science'}, 'student2': {'name': 'tanvi', 'age': 18, 'course': 'animation'}, 'student3': {'name': 'lia', 'age': 19, 'course': 'data science'}}