In [5]:
#printing numbers 1-10
i=1
while i<11:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [6]:
#print even number from 0 to 10
i=0
while i<10:
  print(i)
  i=i+2

0
2
4
6
8

In [7]:
#print odd number from 0 to 10
i=1
while i<10:
  print(i)
  i=i+2

1
3
5
7
9

In [8]:
#breaking statement
i=1
while i<10:
  print(i)
  if i==4:
    break
  i+=1

1
2
3
4

In [9]:
#continue statement
i=0
while i<10:
  i+=1
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [10]:
i=0
while i<10:
  i+=1
  if i==5:
    continue
  elif i==8:
    continue
  print(i)

1
2
3
4
6
7
9
10

In [11]:
#finding sum of first n natural numbers
n=int(input("enter the last number:"))
i=1
sum=0
while (i<= n):
  sum=sum+i
  i=i+1
print("the sum is:",sum)

enter the last number:7
the sum is: 28

In [13]:
#sum of squares of n natural numbers
n=int(input("enter the last number:"))
i=1
sum=0
while (i<= n):
  sum=sum+i*i
  i=i+1
print("the sum is:",sum)

enter the last number:5
the sum is: 55

In [14]:
#find sum of cubes of n natural numbers
n=int(input("enter the last number:"))
i=1
sum=0
while (i<=n):
  sum=sum+i*i*i
  i=i+1
print("the sum is:",sum)

enter the last number:9
the sum is: 2025

In [15]:
L1=["A","B","C","D"]
for x in L1:
  print(x)

A
B
C
D

In [16]:
for x in "TREES":
  print(x)

T
R
E
E
S

In [17]:
#breaking statement
L1=['A','B','C','D']
for x in L1:
  print(x)
  if x=="B":
    break

A
B

In [18]:
L1=["A","B","C","D"]
for x in L1:
  if x=="B":
    break
  print(x)

A

In [19]:
#continue statement
L1=["A","B","C","D"]
for x in L1:
  if x=="B":
    continue
  print(x)

A
C
D

In [21]:
#range() function
for x in range (1,11):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [22]:
for x in range (2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [23]:
#nested for loops
L2=[1,2,3]
L3=["google","meta","fujitsu"]

for x in L2:
  for y in L3:
    print (x,y)

1 google
1 meta
1 fujitsu
2 google
2 meta
2 fujitsu
3 google
3 meta
3 fujitsu

In [24]:
#use pass statement to avoid getting an error
for x in [0,1,2]:
  pass

In [26]:
#factorial using loop
num=int(input("enter any number:"))
fact=1
for i in range (1,num+1):
  fact=fact*i
print("factorial of a number is",fact)

enter any number:5
factorial of a number is 120